* , *:before , *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient( to right, #7f53ac , #657ced );
}

.container{
    position: absolute;
    width: 50%;
    min-width: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 18px;
    font-weight: 600;
    
}

input[type="text"]{
    width: 120px;
    font-weight: 600;
    color: #663399;
    padding: 15px 5px;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-size: 28px;
}

button{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #663399;
    color: #ffffff;
    border: none;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: none;
}

p{
    font-weight: 400;
}

#message1{
    font-weight: 600;
}

.love {
    font-weight: 600;
    text-align: center;
    padding: 5px;
    color: black;
}

a:link {
  color: rgb(240, 97, 121);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(240, 97, 121);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
